<!DOCTYPE html>
<html lang="en">
<head>
  <title>Bootstrap Example</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
</head>
<body>

<div class="container">
  {% with messages = get_flashed_messages() %}
    {% if messages %}
        {% for message in messages %}
            <div class = "alert alert-success">
              <strong>{{message}}</strong>Now you can login
            </div>
        {% endfor %}
    {% endif %}
  {% endwith %}
	<div class = "card-body">
		<div class = "card-header bg-primary"><h2>Login form</h2></div>
	</div>
  
  <form action="{{url_for('loginform')}}" method = "POST">
    <div class="form-group">
      <label for="email">Email:</label>
      <input type="email" class="form-control" id="email" placeholder="Enter email" name="email">
    </div>
    <div class="form-group">
      <label for="pwd">Password:</label>
      <input type="password" class="form-control" id="pwd" placeholder="Enter password" name="pswd">
    </div>
    <div class="form-group form-check">
      <label class="form-check-label">
        <input class="form-check-input" type="checkbox" name="remember"> Remember me
      </label>
    </div>
    <div class = "card-footer bg-danger">
    <button type="submit" class="btn btn-success">Submit</button></div>
    <a href="{{url_for('register')}}">Register Here</a>
</div>


  </form>
</div>

</body>
</html>
